@import "tailwindcss";
/* @import "primereact/resources/themes/lara-light-cyan/theme.css"; */
@import "primeicons/primeicons.css";
/* @import 'primereact/resources/themes/lara-light-indigo/theme.css'; */

@import "primereact/resources/themes/mdc-light-indigo/theme.css";
@import "primereact/resources/themes/mdc-light-deeppurple/theme.css";

/* Fix chiều cao editor */
.email-editor-wrapper .ck-editor__editable {
  min-height: 250px;
  max-height: 60vh;
  overflow-y: auto;
}

/* Giữ toolbar đứng yên */
.email-editor-wrapper .ck-editor__top {
  position: sticky;
  top: 0;
  z-index: 10;
  background: white;
}

/* .email-editor-wrapper .ck-editor {
  width: 100%;
} */
